.create-profile {
  padding: 32px;
  max-width: 1000px;
  font-size: 1.4rem;
}

.create-profile h2 {
  margin-bottom: 70px;
  font-size: 2rem;
  color:#C155BA;
}
.image-upload {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.invisible-placeholder {
  flex: 1;
}
.image-upload * {
  /* outline: 2px solid red; */
}

.create-profile form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create-profile label {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 8px;
  border-radius: 10px;
  color:#C155BA;
  font-weight: 600;

}


.create-profile input[type="text"],
.create-profile select {
  border-radius: 20px;
  padding: 10px;
  font-size: 1.3rem;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #D9D9D9;
  box-shadow: inset 0px 7px 5px rgba(114, 114, 114, 0.169);

}
.create-profile select, .create-profile option {
    height: 50px;
    font-size: 1.4rem;
}
.create-profile input[type="file"] {
  margin-top: 12px;
  border-radius: 0;
  background-color: white;
}

.create-profile input[type="submit"] {
  margin-top: 16px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  background-color: #C155BA;
  color: white;
  font-weight: bold;
  height: 50px;
    border-radius: 20px;

}

.create-profile input[type="submit"]:hover {
  opacity: 0.9;
}